# virtual environment
.venv/

# Sphinx build output
docs/_build/

# Python packaging
*.egg-info/
dist/
build/

# Python cache
__pycache__/
*.pyc
*.pyo

# editors
.vscode/
.idea/
.ruff_cache

sphinx_icalendar/_version.py